---
import { getEntry } from "astro:content";
import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import CustomImage from "../../components/CustomImage.astro";
import Centered from "../../components/rows/Centered.astro";
import { Image } from "astro:assets";
import Flex from "../../components/rows/Flex.astro";

const project = await getEntry("projects", "bmx");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <Centered>
        <p slot="pre">Made in collaboration with</p>

        <Image
            class="logo"
            src={import("../../assets/projects/bmx/autodesk-logo.png")}
            alt="Autodesk logo"
            width={100}
            height={100}
        />
    </Centered>

    <ColsLeft title="the collaboration">
        <div slot="col1">
            <h3>Industry's first</h3>

            <p>
                The redesigned BMX Frame marked the beginning of our
                collaboration with <a
                    href="https://www.autodesk.com/"
                    target="_blank">Autodesk</a
                >, a multinational software corporation. This design was created
                to highlight the capabilities of Autodesk's Netfabb software,
                particularly in the areas of additive manufacturing and
                topological optimization.
            </p>

            <p>
                The BMX was displayed at <strong>Formnext 2017</strong> in
                Frankfurt, Europe's largest additive manufacturing exhibition.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/bmx/bmx-formnext.jpg")}
            alt="BMX displayed at Autodesk boot Formnext 2017"
            width={1920}
            height={1440}
        />
    </ColsLeft>

    <ColsRight title="custom software">
        <div slot="col2">
            <h3>Optimization algorithms</h3>

            <p>
                Two algorithms were developed for this project and were
                subsequently implemented in moi's tool pathing software. Both
                algorithms are voxel-based and are built on top of Millipede, a
                renowned Grasshopper plugin for structural analysis and
                topological optimization. The first algorithm was utilized to
                design the overall shape and to remove superfluous materials,
                whereas the second determined the directions of maximum stress,
                which then guided the robot's path.
            </p>

            <p>
                Lastly, Autodesk Netfabb, combined with the Additive plugin—now
                a part of the Fusion360 suite—was employed to import these paths
                and generate a robotic toolpath.
            </p>
        </div>

        <CustomImage
            slot="col1"
            src={import("../../assets/projects/bmx/bmx-frame-optimization.gif")}
            alt="Optimization algorithm to opimize the frame"
            width={800}
            height={424}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/bmx/bmx-fibers-optimization.gif"
            )}
            alt="Optimization algorithm to opimize the fibers"
            width={800}
            height={450}
        />
    </ColsRight>

    <ColsLeft title="for continuity">
        <div slot="col1">
            <h3>Printing fine tuning</h3>

            <p>
                For this project, which utilizes continuous fiber, specific 3D
                printing algorithms have been developed. These algorithms are
                designed to join fibers in a way that maximizes a single path,
                thus making the printing process more efficient. As a result,
                the time required for the cutting phase has been substantially
                reduced.
            </p>

            <p>
                An initial, basic fiber cutting mechanism was introduced for
                this project. This laid the foundation for subsequent
                advancements.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/bmx/bmx-detail.jpg")}
            alt="BMX detail of handle connection"
            width={1920}
            height={1440}
        />

        <Flex slot="col2">
            <CustomImage
                src={import("../../assets/projects/bmx/bmx-printing-1.jpg")}
                alt="Robot 3D printing BMX frame"
                width={1920}
                height={1740}
            />

            <CustomImage
                src={import("../../assets/projects/bmx/bmx-printing-2.jpg")}
                alt="Robot 3D printing BMX frame"
                width={1920}
                height={1645}
            />
        </Flex>

        <Flex slot="col2" align="stretch">
            <CustomImage
                src={import("../../assets/projects/bmx/bmx-printing-3.jpg")}
                alt="Robot 3D printing BMX frame"
                width={1920}
                height={1081}
            />

            <CustomImage
                src={import("../../assets/projects/bmx/bmx-printing-4.jpg")}
                alt="Robot 3D printing BMX frame"
                width={1920}
                height={1440}
            />
        </Flex>
    </ColsLeft>
</ProjectLayout>
