---
import { getEntry } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ProjectHero from "../../components/ProjectHero.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import CustomImage from "../../components/CustomImage.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import Video from "../../components/Video.astro";

const project = await getEntry("projects", "hi-design");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <ColsLeft title="system architecture">
        <div slot="col1">
            <h3>Hi-Fiber cloud ecosystem</h3>

            <p>
                Hi-Design is an integral component of the expansive <strong
                    >Hi-Fiber ecosystem</strong
                >, which includes a range of applications, software, and backend
                microservices. This ecosystem is strategically developed to
                expand progressively in alignment with the company's growth. In
                the future, it is designed to allow for third-party
                integrations, such as partners' e-commerce platforms.
            </p>

            <p>
                At its core, Hi-Fiber comprises a network of independent <strong
                    >microservices</strong
                > hosted on the Google Cloud Platform. The ecosystem also
                features a dedicated <a
                    href="https://www.hi-fiber.it"
                    target="_blank">website</a
                > that serves to inform and engage users. In addition, there are
                two web applications designed to streamline order management
                processes: one, ORMA, is client-facing, while the other, PUMA,
                is designed for administrative use. There is also a specialized
                mobile application tailored for overseeing production
                management.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/hi-design/cloud-infrastructure.svg"
            )}
            alt="moi dental cloud infrastructure diagram"
            width={1920}
            height={1080}
        />
    </ColsLeft>

    <ColsRight title="different modes">
        <div slot="col2">
            <h3>Design and review</h3>

            <p>
                Hi-Design serves as an integrated platform that facilitates both
                the creation and review of user-generated projects. It operates
                under a Role Based Access Control system that delineates the
                range of actions and commands available to each user. Our
                objective is to enable users to analyze projects prior to their
                production, as well as to offer the functionality to export
                design meshes. These meshes can then be imported into other
                software applications for further preparation ahead of the
                structure's arrival.
            </p>

            <p>
                To accommodate this, we have introduced a <a
                    href="https://design.hi-fiber.it/preview?designId=-6K5jIGNPzrPSwRj0vjAP&projectType=full_armor"
                    target="_blank">review mode</a
                > feature. Within this mode, anyone have the ability to view the
                project without the capacity to alter the design. Users have the
                option to either approve the design or reject it and provide
                corresponding feedback. Upon submission of their input, a
                notification is promptly dispatched to our backend system.
            </p>
        </div>

        <Video
            slot="col1"
            autoplay
            loop
            src="/assets/projects/hi-design/hi-design-preview.mp4"
        />
    </ColsRight>

    <ColsLeft title="competition analysis">
        <div slot="col1">
            <h3>Simplicity in mind</h3>

            <p>
                The development of our software was motivated by a noticeable
                gap in the market, as there were no existing solutions capable
                of managing the design process for continuous fiber materials,
                especially not in the dental field. In introducing Hi-Fiber, it
                was crucial for us to facilitate its adoption without imposing
                the learning curve of an entirely new design software.
                Therefore, we have consciously designed the workflow and
                features of Hi-Design to mirror those of the industry leaders,
                <a href="https://www.3shape.com/" target="_blank">3Shape</a> and

                <a href="https://exocad.com/" target="_blank">Exocad</a>.
            </p>

            <p>
                Once users have crafted a uniform structure within the software,
                they have the flexibility to edit the structure's morphology.
                This is accomplished by manipulating the control points of the
                sections, which are easily identifiable through their distinct
                colors and shapes.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/hi-design/hi-design-main-window.jpg"
            )}
            alt="Hi-Design main window"
            width={1920}
            height={1200}
        />

        <Video
            slot="col2"
            autoplay
            loop
            src="/assets/projects/hi-design/hi-design-section-points.mp4"
        />
    </ColsLeft>

    <ColsRight title="ease of use">
        <div slot="col2">
            <h3>Automatic continuity</h3>

            <p>
                Hi-Design's algorithms are notable for their capability to
                manage changes in the overall design shape, seamlessly creating
                a series of continuous layers. Tasks that require extensive
                computing power, such as the intersections of meshes and curves,
                are offloaded to web workers and translated into more efficient
                compiled languages like Rust.
            </p>

            <p>
                The uniqueness of these algorithms shines in two particular
                areas: the junction between the implants and the bar, where the
                fibers are repositioned away from the cylindrical projection,
                and in the computation of the structure’s total height, where
                continuous layers are automatically added or halted depending on
                the varying heights of individual sections.
            </p>
        </div>

        <Video
            slot="col1"
            autoplay
            loop
            src="/assets/projects/hi-design/hi-design-implant-continuity.mp4"
        />

        <Video
            slot="col1"
            autoplay
            loop
            src="/assets/projects/hi-design/hi-design-automatic-height.mp4"
        />
    </ColsRight>
</ProjectLayout>
