---
import { getEntry } from "astro:content";
import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import CustomImage from "../../components/CustomImage.astro";
import Flex from "../../components/rows/Flex.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import Video from "../../components/Video.astro";

const project = await getEntry("projects", "hi-fiber");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <ColsLeft title="the process">
        <div slot="col1">
            <h3>An optimized integrated process</h3>

            <p>
                The first application of moi's innovative continuous fiber
                additive manufacturing technology was in the dental care market,
                where it was used to produce dental frameworks made of
                continuous fiberglass called <a href="https://www.hi-fiber.it"
                    ><strong>Hi-Fiber</strong></a
                >.
            </p>

            <p>
                As a result, a new subsidiary was born: <strong
                    >moi dental</strong
                >. From the initial order placement to the design of the
                reinforcement, through an optimized ISO-certified production
                process, and ending with an automated system for invoicing and
                payment collection, every step was meticulously developed
                in-house and optimized.
            </p>
        </div>

        <Video
            slot="col2"
            controls
            src="/assets/projects/hi-fiber/hi-fiber-3d-printing.mp4"
            poster="/assets/projects/hi-fiber/hi-fiber-3d-printing-thumbnail.jpg"
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/hi-fiber/hi-fiber-croc-top.jpg")}
            alt="Hi-Fiber with pliers from top"
            width={1920}
            height={1200}
        />

        <Flex slot="col2">
            <CustomImage
                src={import(
                    "../../assets/projects/hi-fiber/hi-fiber-croc-front.jpg"
                )}
                alt="Hi-Fiber with pliers from front"
                width={1920}
                height={1200}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/hi-fiber/hi-fiber-falling-multiple.jpg"
                )}
                alt="Multiple Hi-Fiber falling"
                width={1920}
                height={1200}
            />
        </Flex>
    </ColsLeft>

    <ColsRight title="the product">
        <div slot="col2">
            <h3>A new standard</h3>

            <p>
                We have developed a line of transparent reinforcements,
                exceptionally durable due to their continuous glass fiber
                construction. These reinforcements emphasize the natural
                appearance of esthetic materials.
            </p>

            <p>
                The application of these reinforcements spans across various
                dental solutions, such as full dentures, partials, removables,
                and more. Furthermore, we are in the process of innovating a
                fully 3D-printed reinforced prosthesis.
            </p>

            <p>
                To maintain moi dental's distinct clean and fresh branding, all
                promotional materials, including images, videos, tutorials, and
                social channels have been crafted in alignment with this
                identity.
            </p>
        </div>

        <CustomImage
            slot="col1"
            src={import("../../assets/projects/hi-fiber/hi-fiber-jello.jpg")}
            alt="Hi-Fiber transparency"
            width={1920}
            height={1200}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/hi-fiber/hi-fiber-product-line.jpg"
            )}
            alt="Hi-Fiber product line"
            width={1920}
            height={1200}
        />

        <CustomImage
            slot="col1"
            src={import("../../assets/projects/hi-fiber/hi-fiber-ig.png")}
            alt="Hi-Fiber Instagram profile"
            width={1920}
            height={1200}
        />
    </ColsRight>

    <ColsLeft title="the software">
        <div slot="col1">
            <h3>Towards seamless adoption</h3>

            <p>
                The main barrier to the adoption of Hi-Fiber products was the
                familiarity of dentists and dental labs with their established
                protocols. To facilitate the transition, <a
                    href="https://youtube.com/playlist?list=PLi-fjw9bJZuJxq4GYHwtCSEg8nVU_ESSn&si=Xu-w1J_H5hVjtUSc"
                    target="_blank">video tutorials</a
                >, custom web interfaces, and design software were created to
                provide an easier way to learn and use the product.
            </p>

            <p>
                Due to the limited availability of alternative solutions for
                working with fibers instead of solids, there was a need to
                develop <strong>Hi-Design</strong>, a user-friendly software
                that is the first of its kind. This software is specifically
                designed to <strong>seamlessly integrate</strong> continuous
                fiber composites design into the production process, offering a
                comprehensive solution for clinicians and dental labs looking to
                take advantage of the benefits of Hi-Fiber without the hassle of
                learning a new set of tools.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/hi-fiber/hi-fiber-cad.jpg")}
            alt="Hi-Fiber CAD Software"
            width={1920}
            height={1200}
        />

        <CustomImage
            blend
            slot="col2"
            src={import(
                "../../assets/projects/hi-fiber/hi-fiber-tutorials.jpg"
            )}
            alt="Hi-Fiber CAD Software"
            width={1920}
            height={1200}
        />
    </ColsLeft>
</ProjectLayout>
