---
import { getEntry } from "astro:content";
import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import Video from "../../components/Video.astro";

const project = await getEntry("projects", "inchioma");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <ColsLeft title="storytelling">
        <div slot="col1">
            <h3>Illustrations and web design</h3>

            <p>
                <a href="https://www.inchioma.it" target="_blank">Inchioma</a>
                 is a firm in norhen Italy that offers arbiculture services. The
                design of their website employs storytelling to detail the
                services they provide.
            </p>

            <p>
                I collaborated with Factory of Art, an up-and-coming creative
                agency founded by <a
                    href="https://www.msilva.photography/"
                    target="_blank">Monica Silva</a
                > and Valerio Fausti. They crafted the illustrations for the
                website and the company's identity. As visitors scroll through
                the website, a continuous line connects each drawing, presenting
                the services in a clear and engaging manner.
            </p>
        </div>

        <Video
            slot="col2"
            autoplay
            loop
            src="/assets/projects/inchioma/inchioma-website.mp4"
        />
    </ColsLeft>
</ProjectLayout>
