---
import ProjectHero from "../../components/ProjectHero.astro";
import Centered from "../../components/rows/Centered.astro";
import CustomImage from "../../components/CustomImage.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { getEntry } from "astro:content";
import Video from "../../components/Video.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import Flex from "../../components/rows/Flex.astro";
import CenteredText from "../../components/rows/CenteredText.astro";
import { Image } from "astro:assets";

const project = await getEntry("projects", "mambo");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <Centered>
        <p slot="pre">Published on:</p>

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/forbes-logo.png")}
            alt="Forbes logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/boat-logo.png")}
            alt="Forbes logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/robb-report-logo.png")}
            alt="Forbes logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/bi-logo.png")}
            alt="Business Insider logo"
            width={100}
            height={100}
        />
    </Centered>

    <ColsLeft title="The idea">
        <div slot="col1">
            <h3>Dreaming big</h3>

            <p>
                MAMBO is the world's first 3D printed fiberglass boat, a project
                of moi composites, a company I'm proud to have co-founded. Our
                goal with MAMBO was to showcase the potential of our 3D printing
                technology - CFM - in creating superior functional objects.
            </p>

            <p>
                The beginning of this project can be traced back to a 2018
                conversation with <a
                    href="https://www.autodesk.com/"
                    target="_blank">Autodesk</a
                >, our longtime partner. Their belief in our vision led them to
                sponsor part of this journey. Together, we aspired to create
                something never seen before, showcasing the design capabilities
                of Fusion 360 coupled with CFM technology. This synergy enabled
                us to create not only intricate designs but also robust
                structures, merging 3D printing with advanced composites.
            </p>
        </div>

        <Video
            slot="col2"
            controls
            src="/assets/projects/mambo/mambo-video.mp4"
            poster="/assets/projects/mambo/mambo-video-thumbnail.jpg"
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/mambo/robot-printing.jpg")}
            alt="Robot printing MAMBO"
            width={1920}
            height={1080}
        />

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/mambo/mambo-fiberglass-printing.jpg"
            )}
            alt="Fiberglass 3D printing"
            width={1920}
            height={1080}
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/mambo/mambo-dolphin-tips.jpg")}
            alt="Dolphin tips detail"
            width={1440}
            height={1080}
        />
    </ColsLeft>

    <CenteredText>
        "the striking boat has an organic, flowing design and an <i
            >inverted tricycle</i
        > shape that looks like nothing else on the water."
        <p slot="post">Tim Levin / Business Insider</p>
    </CenteredText>

    <ColsRight title="The success">
        <CustomImage
            slot="col1"
            src={import("../../assets/projects/mambo/mambo-otranto.jpg")}
            alt="MAMBO in Otranto"
            width={1920}
            height={1209}
        />

        <Flex slot="col1">
            <CustomImage
                src={import("../../assets/projects/mambo/mambo-top-view.jpg")}
                alt="MAMBO top view"
                width={1920}
                height={1209}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/mambo/mambo-cork-detail.jpg"
                )}
                alt="MAMBO top view"
                width={1920}
                height={1209}
            />
        </Flex>

        <div slot="col2">
            <h3>A dream on water</h3>

            <p>
                By the summer of 2020, our project had taken shape. Following
                its completion, MAMBO earned recognition in top-tier magazines
                and <a
                    href="https://therokuchannel.roku.com/watch/d68638c2fc6f5289961a365d2a3e41ee"
                    target="_blank">TV shows</a
                > across the globe.
            </p>

            <p>
                Beyond the press, various shipyards expressed their interest,
                keen on integrating our technology into their craftsmanship.
            </p>
        </div>
    </ColsRight>

    <Centered>
        <p slot="pre">Made in collaboration with</p>

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/autodesk-logo.png")}
            alt="Autodesk logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/ucina-logo.png")}
            alt="UCINA logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/mercury-logo.png")}
            alt="Mercury logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/osculati-logo.png")}
            alt="Osculati logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/mambo/oc-logo.png")}
            alt="Owens Corning logo"
            width={100}
            height={100}
        />
    </Centered>

    <ColsLeft title="the unveiling">
        <div slot="col1">
            <h3>MAMBO's celebrated debut</h3>

            <p>
                In fall 2020, MAMBO made its first appearance on the global
                stage at the <strong>Genova Boat Show</strong>, a prestigious
                event in the same league as Cannes, Monaco, and Fort Lauderdale.
                The event was enhanced when <strong>Carla De Maria</strong>, a
                renowed figure in the yachting world, officially inaugurated
                MAMBO.
            </p>

            <p>
                Our efforts were rewarded when MAMBO was honored with the
                <strong>Design Innovation Award</strong> from UCINA, Italy's
                leading boat association. This recognition celebrated our work
                and also represented a significant milestone in the history of
                digital manufacturing, as an object of such size and utility had
                never been 3D printed before.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/mambo/mambo-design-innovation-award.jpg"
            )}
            alt="MAMBO UCINA Design Innovation Award 2020"
            width={1920}
            height={1440}
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/mambo/mambo-inauguration.jpg")}
            alt="Inauguration at SN2020"
            width={1920}
            height={1440}
        />
    </ColsLeft>
</ProjectLayout>
