---
import { getEntry } from "astro:content";

import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import CustomImage from "../../components/CustomImage.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import Flex from "../../components/rows/Flex.astro";

const project = await getEntry("projects", "necklace-residence");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <ColsLeft title="the design">
        <div slot="col1">
            <h3>A jewel box for individual lifestyles</h3>

            <p>
                Before I joined REX office, the team had won a contest to design
                a private residence in Long Island. This residence consisted of
                several houses arranged around a courtyard, facing one another.
            </p>

            <p>
                Each house was linked by a central corridor. Within certain
                houses, there were shared spaces where families could gather.
                These spaces also acted as entrances to the main corridor.
            </p>

            <p>
                I was responsible for designing these shared spaces and the
                unique <strong>functional sculptures</strong> within them. Made
                of wood, these curved sculptures added character to the area,
                breaking the regularity of the square designs, and making the
                overall experience more engaging.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-courtyard.jpg"
            )}
            alt="Necklace Residence inside courtyard view"
            width={1920}
            height={1200}
        />

        <CustomImage
            blend
            invertOnDark
            slot="col2"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-plan.jpg"
            )}
            alt="Necklace residence plan"
            width={1920}
            height={1200}
        />
    </ColsLeft>

    <ColsRight title="design algorithms">
        <div slot="col2">
            <h3>The wooden sculptures</h3>

            <p>
                The design concept aimed to morph the wooden wall of the homes
                facing the courtyard into a multifunctional space. This new
                design serves as a staircase connecting to the outside, a play
                slide for children, and a bar area for adults.
            </p>

            <p>
                Due to the intricacies of crafting such a versatile space by
                twisting and morphing solid objects, I created scripts to
                streamline the design process. These scripts allowed for quicker
                iterations, eventually leading to the final design.
            </p>

            <p>
                Currently, both the houses and the shared spaces are under
                construction.
            </p>
        </div>

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-courtyard-stairs.jpg"
            )}
            alt="Necklace residence courtyard stair"
            width={1920}
            height={1200}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-stair-zoom.jpg"
            )}
            alt="Necklace residence stair detail"
            width={1920}
            height={1200}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-bar.jpg"
            )}
            alt="Necklace residence bar stair"
            width={1920}
            height={1200}
        />

        <Flex slot="col1">
            <CustomImage
                blend
                src={import(
                    "../../assets/projects/necklace-residence/necklace-residence-main-stair-section.jpg"
                )}
                alt="Necklace residence main stair section"
                width={1920}
                height={1200}
            />

            <CustomImage
                blend
                src={import(
                    "../../assets/projects/necklace-residence/necklace-residence-bar-stair-section.jpg"
                )}
                alt="Necklace residence bar stair section"
                width={1920}
                height={1200}
            />
        </Flex>
    </ColsRight>

    <ColsLeft title="mockups">
        <div slot="col1">
            <h3>Visualizing designs</h3>

            <p>
                <strong>3D printing</strong> played a pivotal role in our design
                process. It marked my initial introduction to additive
                manufacturing technologies, which subsequently led to my
                research position at
                <strong>+LAB</strong>, Politecnico di Milano, and the eventual
                foundation of moi composites.
            </p>

            <p>
                We predominantly utilized <strong>SLA</strong> technology for 3D
                printing our designs. The printed models were presented in both
                internal discussions and client meetings, facilitating a prompt
                comprehension of the design by both our team and the client.
            </p>

            <p>
                We utilized another method to visualize the space we designed.
                This involved modeling the buildings and their surroundings
                using the <a
                    href="https://www.unrealengine.com/"
                    target="_blank">Unreal Engine</a
                >, which had been recently made available for free. The model
                was then visualized using augmented reality, providing us with a
                more immersive perspective of the complex.
            </p>
        </div>

        <Flex slot="col2">
            <CustomImage
                src={import(
                    "../../assets/projects/necklace-residence/necklace-residence-stair-script.jpg"
                )}
                alt="Necklace residence main stair script"
                width={1920}
                height={1200}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/necklace-residence/necklace-residence-3d-print-main-stair.jpg"
                )}
                alt="Necklace residence 3D print stair"
                width={1920}
                height={1200}
            />
        </Flex>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-3d-print-main-stair-2.jpg"
            )}
            alt="Necklace residence 3D print stair"
            width={1920}
            height={1200}
        />

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/necklace-residence/necklace-residence-3d-print-kids-space.jpg"
            )}
            alt="Necklace residence 3D print bar"
            width={1920}
            height={1200}
        />
    </ColsLeft>
</ProjectLayout>
