---
import { getEntry } from "astro:content";
import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import CustomImage from "../../components/CustomImage.astro";
import ColsRight from "../../components/rows/ColsRight.astro";
import Video from "../../components/Video.astro";
import Flex from "../../components/rows/Flex.astro";
import Centered from "../../components/rows/Centered.astro";
import { Image } from "astro:assets";

const project = await getEntry("projects", "pac");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <Centered>
        <p slot="pre">Published on:</p>

        <Image
            class="logo"
            src={import("../../assets/projects/pac/nyt-logo.png")}
            alt="New York Times logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/pac/cbs-logo.png")}
            alt="Forbes logo"
            width={100}
            height={100}
        />

        <Image
            class="logo"
            src={import("../../assets/projects/pac/ad-logo.png")}
            alt="Forbes logo"
            width={100}
            height={100}
        />
    </Centered>

    <ColsLeft title="the building">
        <div slot="col1">
            <h3>A marble lantern</h3>

            <p>
                Designed to stand out as a <strong>beacon of light</strong> in
                the busy World Trade Center, the Perelman Arts Center emerged as
                the final component of Daniel Libeskind's <a
                    href="https://libeskind.com/work/ground-zero-master-plan/"
                    target="_blank"
                >
                    masterplan</a
                >. Officially opened in the fall of 2023, its creation followed
                REX's competition victory in the winter of 2015, during which
                time I contributed as a designer on the competition team.
            </p>

            <p>
                The structure is built over the remnants of an earlier building,
                concealing its basement within an elevated platform. This
                platform supports a luminous marble lantern. Within this
                enclosure lies a collection of adaptable theaters, surrounded by
                a distribution space. This space is bathed in natural light
                filtering through the marble, drawing in the vibrant life of New
                York City.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/pac/pac-aerial-view.jpg")}
            alt="PAC aerial view"
            width={1920}
            height={1280}
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/pac/pac-entrance-dusk.jpg")}
            alt="PAC entrance view at dusk"
            width={1920}
            height={1280}
        />

        <CustomImage
            slot="col2"
            src={import("../../assets/projects/pac/pac-interior-corridor.jpg")}
            alt="PAC interior view of the corridors"
            width={1920}
            height={1280}
        />

        <Flex slot="col2">
            <Video
                blend
                autoplay
                loop
                src="/assets/projects/pac/pac-private-public-spaces.mp4"
            />

            <Video
                blend
                autoplay
                loop
                src="/assets/projects/pac/pac-theatres-configurations.mp4"
            />
        </Flex>
    </ColsLeft>

    <ColsRight title="facade patterns">
        <div slot="col2">
            <h3>Facade optimization</h3>

            <p>
                My first contribution the project was studying the facade
                pattern, maintaining the idea of regularity while adding some
                randomness, all while optimizing the amount of material used. A
                double axial-simmetrical pattern was designed and obtained by
                cutting from the same stone. While the simmetry near the center
                it's visible, it gets less visible towards the outside, adding a
                sensation of randomness to the overall pattern.
            </p>

            <p>
                My other contribution was the design of the higher floors, where
                dressing rooms and rehersal room are located. The floorplan was
                designed to optimize space while maintaining privacy between
                each performer. Different types of dressing rooms were designed,
                and visualized with renderings to maximise the relation with the
                marble facade.
            </p>
        </div>

        <CustomImage
            slot="col1"
            src={import("../../assets/projects/pac/pac-exterior-facade.jpg")}
            alt="PAC exterior facade picture"
            width={1920}
            height={1280}
        />

        <Flex slot="col1">
            <Video
                blend
                autoplay
                loop
                src="/assets/projects/pac/pac-section.mp4"
            />

            <CustomImage
                blend
                invertOnDark
                src={import(
                    "../../assets/projects/pac/pac-dressing-room-plan.jpg"
                )}
                alt="PAC dressing room plan"
                width={1920}
                height={1280}
            />
        </Flex>

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/pac/pac-dressing-room-render.jpg"
            )}
            alt="PAC dressing room rendering"
            width={1920}
            height={1280}
        />
    </ColsRight>

    <ColsLeft title="the competition">
        <div slot="col1">
            <h3>Showcasing dynamism</h3>

            <p>
                In the autumn of 2015, REX, along with two other world-famous
                architectural firms, was invited to present a design proposal
                for a new Performing Arts Center. I was part of the team from
                the beginning, where my role included designing various spaces
                and creating visual renderings, detailed drawings, and scale
                models for the competition entry.
            </p>

            <p>
                The centerpiece of our submission was an intricate physical
                model that showcased the lively interior spaces and the
                striking, illuminated exterior. This large-scale model was
                designed to be modular, allowing for sections to be removed and
                display the internal layout of the theaters and the organization
                of the different functional areas, which included public spaces,
                performance areas, and rehearsal zones.
            </p>

            <p>
                Additionally, we developed a series of diagrams that clearly
                displayed the flexibility of the spaces, demonstrating their
                capacity to accommodate a variety of performance types and
                audience configurations. Our comprehensive and detailed
                presentation paid off when <strong
                    >REX was announced as the winner of the competition</strong
                >. The Performing Arts Center opened its doors for the first
                time in the fall of 2023.
            </p>
        </div>

        <CustomImage
            blend
            slot="col2"
            src={import("../../assets/projects/pac/pac-competition-model.jpg")}
            alt="PAC competition model"
            width={1920}
            height={1265}
        />

        <Video
            blend
            slot="col2"
            autoplay
            loop
            src="/assets/projects/pac/pac-competition-model.mp4"
        />

        <Flex slot="col2">
            <Video
                blend
                autoplay
                loop
                src="/assets/projects/pac/pac-public-floor.mp4"
            />

            <Video
                blend
                autoplay
                loop
                src="/assets/projects/pac/pac-moving-walls.mp4"
            />
        </Flex>
    </ColsLeft>
</ProjectLayout>
