---
import { getEntry } from "astro:content";

import ProjectHero from "../../components/ProjectHero.astro";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import CustomImage from "../../components/CustomImage.astro";
import Flex from "../../components/rows/Flex.astro";
import ColsLeft from "../../components/rows/ColsLeft.astro";
import Centered from "../../components/rows/Centered.astro";
import ColsRight from "../../components/rows/ColsRight.astro";

const project = await getEntry("projects", "the-diving-king");
---

<ProjectLayout>
    <ProjectHero
        title={project.data.title}
        year={project.data.year}
        subtitle={project.data.subtitle}
        category={project.data.category}
        cover={project.data.cover}
    />

    <ColsLeft title="design as organism">
        <div slot="col1">
            <h3>Columbia's expansion in Manhattanville</h3>
            <p>
                The project developed during the last year of my Master in
                Architecture at Politecnico di Milano served as the base for my
                thesis work. This involved the redesign of Columbia University's
                expansion in Manhattanville, originally designed by <a
                    href="https://www.rpbw.com/project/columbia-university-campus-plan"
                    target="_blank">RPBW</a
                >.
            </p>

            <p>
                The design is aimed at the Re-Integration of
                Building-City-Territory, or the so-called by Bruno Zevi,
                Urbarchitecture. In fact, the project tries to <strong
                    >disintegrate the separation between the scales of
                    architecture</strong
                > by conceiving the design as a unicum where the complexity of
                the exterior and the demands of the interior spaces collaborate,
                generating the organism.
            </p>

            <p>
                The developed building hosts the SIPA, School of International
                and Public Affairs, and plays a <strong
                    >fundamental role as a neuralgic point for all flows</strong
                >. Its position places it at the crossroads of Broadway and
                125th Street, where it begins to rise. Going up, it facilitates
                the metamorphosis between the street and the park until it
                overcomes the viaduct and offers a view of the Hudson River, New
                Jersey, United States, Pacific Ocean, and Japan.
            </p>
        </div>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/the-diving-king/tdk-masterplan-view.jpg"
            )}
            alt="Masterplan view"
            width={1920}
            height={1654}
            blend={true}
        />

        <Flex slot="col2">
            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-plan-0.jpg"
                )}
                alt="Ground floor Plan"
                width={960}
                height={1421}
                blend={true}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-plan-0-diagrams.jpg"
                )}
                alt="Ground floor Diagrams"
                width={960}
                height={1421}
                blend={true}
            />
        </Flex>

        <CustomImage
            slot="col2"
            src={import(
                "../../assets/projects/the-diving-king/tdk-exploded.jpg"
            )}
            alt="Exploded View"
            width={1920}
            height={1498}
            blend={true}
        />

        <Flex slot="col2" align="stretch">
            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-entrance-view.jpg"
                )}
                alt="Masterplan view"
                width={960}
                height={470}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-bottom-view.jpg"
                )}
                alt="Masterplan view"
                width={960}
                height={720}
            />
        </Flex>
    </ColsLeft>

    <Centered full>
        <CustomImage
            src={import(
                "../../assets/projects/the-diving-king/tdk-longitudinal-section.jpg"
            )}
            alt="Exploded View"
            width={2560}
            height={876}
            blend={true}
        />
    </Centered>

    <ColsRight title="the skeleton">
        <div slot="col2">
            <h3>An integrated design</h3>

            <p>
                To solve urban problematics with better living internal
                solutions, the <strong
                    >building is inspired by the nature and animal world</strong
                >. Study spaces are muscles grasped to a skeleton through ribs.
                The skeleton is so big as to be inhabited and work as a
                distribution space and gallery. Conquering height through the
                central space, it overcomes the infrastructures to conclude in a
                loggia on America.
            </p>

            <p>
                The structure is composed of a double skeleton big enough to be
                inhabited and made of finite elements. Like the spine bones,
                which are so big as to contain the spinal cord, the structure is
                big enough to contain the main distribution space.
            </p>

            <p>
                The structure is form-resistant and results from an evolution of
                the form from early tests to the final double tubular shape. The
                final shape has been obtained with algorithms using Grasshopper
                and GeometryGym.
            </p>
        </div>

        <Flex slot="col1">
            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-structural-model.jpg"
                )}
                alt="Structural model"
                width={960}
                height={1117}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-top-model.jpg"
                )}
                alt="Top view of model"
                width={960}
                height={642}
            />
        </Flex>

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/the-diving-king/tdk-interior-space.jpg"
            )}
            alt="View of interior space"
            width={1920}
            height={952}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/the-diving-king/tdk-fem-analysis.jpg"
            )}
            alt="FEM Analysis results"
            width={1920}
            height={1806}
            blend={true}
        />

        <CustomImage
            slot="col1"
            src={import("../../assets/projects/the-diving-king/tdk-plans.jpg")}
            alt="Floor Plans"
            width={1920}
            height={1934}
            blend={true}
        />

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/the-diving-king/tdk-final-view.jpg"
            )}
            alt="View from the terrace"
            width={1920}
            height={952}
        />

        <Flex slot="col1" align="stretch">
            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/six-model-1.jpg"
                )}
                alt="Exploded model section"
                width={900}
                height={782}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/six-model-2.jpg"
                )}
                alt="Exploded model section"
                width={900}
                height={653}
            />
        </Flex>

        <CustomImage
            slot="col1"
            src={import(
                "../../assets/projects/the-diving-king/tdk-cross-section.jpg"
            )}
            alt="Cross Section"
            width={1920}
            height={1615}
            blend={true}
        />

        <Flex slot="col1" align="stretch">
            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-detail-1.jpg"
                )}
                alt="Construction detail"
                width={900}
                height={948}
                blend={true}
            />

            <CustomImage
                src={import(
                    "../../assets/projects/the-diving-king/tdk-detail-2.jpg"
                )}
                alt="Construction detail"
                width={900}
                height={515}
                blend={true}
            />
        </Flex>
    </ColsRight>
</ProjectLayout>
